.log{
    width:500px;
    height:250px;
    margin-left:1px;
    margin-rignit: 20px;

    main {
    h2{
   position: relative;
    font-family: "Algerian", sans-serif;
        font-size: 30px; 
    }
    aside{
    width: 30%;
        position: relative;
    }
 }

    
}
        
#section2{
    width: 1200px;
    padding: 40px;
    background: rgb(1, 58, 181);
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

summary{
    background: rgb(39, 90, 43);
    color: white;
    padding: 20px;

    cursor: pointer;
    font-weight: bold;
}

p{
    padding: 10px;
    background: white;
    color: rgb(4, 80, 70);
}

header{
    display: flex;
    background-color: rgb(4, 80, 7);

    
}

a{
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-right: 10px;
    color: rgb(255, 253, 253);
    font-weight: bold;
}

nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
}

nav a:hover{
    color: rgb(238, 244, 241);
}

#section1{
    width: 40%;
    border: 2px solid rgb(58, 11, 211);
    border-radius: 5px ;
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
}

footer{
    bottom: 0;
    position: relative;
    width: 100%;/* Ajusta el ancho */
    height: 16%;/* Ajusta el largo */
}
footer .footer-text{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px; 
    color: rgb(4, 80, 70);
}
footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: rgb(4, 80, 70);
}
